body{
    background: url('bg2.jpg');
    background-repeat:repeat-x;
    background-size: 100%;
}   
*{
    margin: 0;
    padding: 0;
}
/* navigation bar */
nav{
    font-family: "Montserrat", sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
}
nav li{
    padding: 0px 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
}
.brand img{ 
    height: 55px;
    padding: 8px;
}       
/* containers */
.container{
    min-height: 60vh;
    color: white;
    font-family: "Inter", sans-serif;
    background: url("bg3.jpg");
    background-position-x: center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #00000090;
    background-size: 320px;
    display: flex;
    width: 70%;
    margin: 25px auto;
    border-radius: 34px;
    padding: 34px;
}

/* bottom class */
.bottom{
    position: sticky;
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    color: aliceblue;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}

#progressbar{
    width: 80vw;
}

.SongItem{
    height: 50px;
    display: flex;
    width: 100%;
    background-color: rgba(102, 111, 117, 0.233);
    color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.SongItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 10px;
}
.TimeStamp{
    margin: 0 25px;
}